<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-cutout" version="1.0.0">

  <name>Android Cutout</name>
  <description>Plugin detects if a cutout (aka notch) exists on Android device</description>
  <author>Moblis Administrator</author>
  <license>MIT</license> 
  
  <asset src="www/cutout.js" target="js/cutout.js"/>
        
  <js-module src="www/cutout.js" name="cutout">
    <clobbers target="cutout" />
  </js-module>
        
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines> 
        
  <platform name="android">
    <source-file src="src/android/Cutout.java" target-dir="src/io/moblis/plugin" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Cutout">
        <param name="android-package" value="io.moblis.plugin.Cutout"/>
      </feature>
    </config-file>    
  </platform>
</plugin>
